<div class="card bg-base-100 shadow-sm" [ngClass]="cardWidth">
  <figure class="px-10 pt-10" *ngIf="imageUrl">
    <img
      [ngSrc]="imageUrl"
      [alt]="imageAlt"
      class="rounded-xl" fill/>
  </figure>
  <div class="card-body items-center text-center">
    <h2 class="card-title">{{ title }}</h2>
    <p>{{ description }}</p>
    <div class="card-actions" *ngIf="showButton">
      <button class="btn btn-primary" (click)="onButtonClick()">{{ buttonText }}</button>
    </div>
  </div>
</div>
